services:
  adguardhome:
    image: adguard/adguardhome:latest
    container_name: adguardhome
    restart: unless-stopped

    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576

    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 1G

    volumes:
      - ./work:/opt/adguardhome/work
      - ./conf:/opt/adguardhome/conf

    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8083:3000/tcp"
      - "127.0.0.1:8082:80/tcp"
      - "853:853/tcp"

    networks:
      - adguard-network

networks:
  adguard-network:
    driver: bridge
